Import sqlite3 library

In [2]:
import sqlite3

if the database not exist then it will create, otherwise it will load that db

In [3]:
conn = sqlite3.connect('test.db')
cursor = conn.cursor()

Create table if not exist

In [5]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER,
    email TEXT UNIQUE NOT NULL
);
''')
conn.commit()

Insert a single user

In [6]:
cursor.execute('''
INSERT INTO users (name, age, email) VALUES (?,?,?)
''', ('jahid', 25, 'jahidsagar@gmail.com'))
conn.commit()

In real life we have a list of users, so based on a list insert data into table.

In [7]:
users = [
    ('rahim', 21, 'rahim@gmail.com'),
    ('abbas', 27, 'abbas@gmail.com'),
    ('sojol', 16, 'sojol@gmail.com')
]

cursor.executemany('''
INSERT INTO USERS (name, age, email) VALUES (?,?,?)
''', users)
conn.commit()

Get all users from table

In [8]:
cursor.execute('''
SELECT * FROM users
''')

data = cursor.fetchall()
for user in data:
    print(user)

(1, 'jahid', 25, 'jahidsagar@gmail.com')
(2, 'rahim', 21, 'rahim@gmail.com')
(3, 'abbas', 27, 'abbas@gmail.com')
(4, 'sojol', 16, 'sojol@gmail.com')

Update user email based on user id, Here we are updating whose user id is 1

In [9]:
id = 1
new_email = 'jahid@gmail.com'
cursor.execute('''
UPDATE users
SET email = ?
WHERE id = ?
''', (new_email, id))

conn.commit()

Printing and confirming the update

In [10]:
cursor.execute('''
SELECT * FROM users
''')

data = cursor.fetchall()
for user in data:
    print(user)

(1, 'jahid', 25, 'jahid@gmail.com')
(2, 'rahim', 21, 'rahim@gmail.com')
(3, 'abbas', 27, 'abbas@gmail.com')
(4, 'sojol', 16, 'sojol@gmail.com')

Delete user by id

In [14]:
id_to_delete = 4
cursor.execute('''
DELETE FROM users
WHERE id = ?
''', (id_to_delete,))
conn.commit()

In [15]:
cursor.execute('''
SELECT * FROM users
''')

data = cursor.fetchall()
for user in data:
    print(user)

(1, 'jahid', 25, 'jahid@gmail.com')
(2, 'rahim', 21, 'rahim@gmail.com')
(3, 'abbas', 27, 'abbas@gmail.com')