In [2]:
import sqlite3

In [6]:
db_name = 'example.db'
table_name = 'example_table'

In [12]:
def create_connection():
    """CREATE A DATABASE CONNECTION TO A SQLITE DATABASE"""
    conn = None
    try:
        conn = sqlite3.connect(db_name)
        print(f"Connected to database: {db_name}")
    except sqlite3.Error as e:
        print(f"Sorry could not connect to database: {e}")
    return conn

In [14]:
def create_table(table_name):
    """CREATE A TABLE IN THE DATABASE"""
    conn = create_connection()
    if conn is not None:
        try:
            cursor = conn.cursor()
            cursor.execute(f'''
                create table if not exists {table_name}(
                    id integer primary key autoincrement,
                    name text not null,
                    age integer,
                    email text unique
                );
            ''')
            conn.commit()
            print(f"Table is crated: {table_name}")
        except sqlite3.Error as e:
            print(f"Sorry could not create table: {e}")
    else:
        print("Error! Cannot create the database connection.")

In [17]:
def insert_data(table_name, name, age, email):
    """INSERT DATA INTO THE TABLE"""
    conn = create_connection()
    if conn is not None:
        try:
            cursor = conn.cursor()
            cursor.execute(f'''
                insert into {table_name} (name, age, email)
                values (?, ?, ?);
            ''', (name, age, email))
            conn.commit()
            print("Data inserted successfully.")
        except sqlite3.Error as e:
            print(f"Sorry could not insert data: {e}")
    else:
        print("Error! Cannot create the database connection.")

In [18]:
def get_all_data(table_name):
    """RETRIEVE ALL DATA FROM THE TABLE"""
    conn = create_connection()
    if conn is not None:
        try:
            cursor = conn.cursor()
            cursor.execute(f'select * from {table_name};')
            rows = cursor.fetchall()
            for row in rows:
                print(row)
        except sqlite3.Error as e:
            print(f"Sorry could not retrieve data: {e}")
    else:
        print("Error! Cannot create the database connection.")

In [19]:
def update_data(table_name, name, age, email):
    """UPDATE DATA IN THE TABLE"""
    conn = create_connection()
    if conn is not None:
        try:
            cursor = conn.cursor()
            cursor.execute(f'''
                update {table_name}
                set age = ?, email = ?
                where name = ?;
            ''', (age, email, name))
            conn.commit()
            print("Data updated successfully.")
        except sqlite3.Error as e:
            print(f"Sorry could not update data: {e}")
    else:
        print("Error! Cannot create the database connection.")

In [28]:
def get_one(table_name, id):
    """RETRIEVE A SINGLE RECORD FROM THE TABLE BY ID"""
    conn = create_connection()
    if conn is not None:
        try:
            cursor = conn.cursor()
            cursor.execute(f'select * from {table_name} where id = ?;', (id,))
            row = cursor.fetchone()
            if row:
                print(row)
            else:
                print("No record found with that ID.")
        except sqlite3.Error as e:
            print(f"Sorry could not retrieve data: {e}")
    else:
        print("Error! Cannot create the database connection.")

In [21]:
def delete_data(table_name, id):
    """DELETE DATA FROM THE TABLE"""
    conn = create_connection()
    if conn is not None:
        try:
            cursor = conn.cursor()
            cursor.execute(f'''
                delete from {table_name}
                where id = ?;
            ''', (id,))
            conn.commit()
            print("Data deleted successfully.")
        except sqlite3.Error as e:
            print(f"Sorry could not delete data: {e}")
    else:
        print("Error! Cannot create the database connection.")

In [15]:
create_table(table_name)

Connected to database: example.db
Table is crated: example_table

In [22]:
insert_data(table_name, 'Alice', 30, 'alice@gmail.com')
insert_data(table_name, 'Bob', 25, 'bob@gmail.com')

Connected to database: example.db
Data inserted successfully.
Connected to database: example.db
Data inserted successfully.

In [23]:
get_all_data(table_name)

Connected to database: example.db
(1, 'Alice', 30, 'alice@gmail.com')
(2, 'Bob', 25, 'bob@gmail.com')

In [24]:
update_data(table_name, 'Alice', 31, 'alice@alice.com')
get_all_data(table_name)

Connected to database: example.db
Data updated successfully.
Connected to database: example.db
(1, 'Alice', 31, 'alice@alice.com')
(2, 'Bob', 25, 'bob@gmail.com')

In [25]:
delete_data(table_name, 1)
get_all_data(table_name)

Connected to database: example.db
Data deleted successfully.
Connected to database: example.db
(2, 'Bob', 25, 'bob@gmail.com')

In [26]:
insert_data(table_name, 'faf', 25, 'faf@gmail.com')

Connected to database: example.db
Data inserted successfully.

In [27]:
data = [
    ('Charlie', 28, 'charlie@gmail.com'),
    ('David', 35, 'david@gmail.com')
]

for name, age, email in data:
    insert_data(table_name, name, age, email)
get_all_data(table_name)

Connected to database: example.db
Data inserted successfully.
Connected to database: example.db
Data inserted successfully.
Connected to database: example.db
(2, 'Bob', 25, 'bob@gmail.com')
(3, 'faf', 25, 'faf@gmail.com')
(4, 'Charlie', 28, 'charlie@gmail.com')
(5, 'David', 35, 'david@gmail.com')

In [29]:
get_one(table_name, 2)

Connected to database: example.db
(2, 'Bob', 25, 'bob@gmail.com')

In [33]:
import pandas as pd

def get_all_users_df():
    conn = create_connection()
    df = pd.read_sql_query(f"SELECT * FROM {table_name}", conn)
    conn.close()
    return df

In [34]:
df = get_all_users_df()
df.head()  # Display the first few rows of the DataFrame

Connected to database: example.db

   id     name  age              email
0   2      Bob   25      bob@gmail.com
1   3      faf   25      faf@gmail.com
2   4  Charlie   28  charlie@gmail.com
3   5    David   35    david@gmail.com

In [35]:
def export_users_to_csv(filename="users_export.csv"):
    df = get_all_users_df()
    df.to_csv(filename, index=False)
    print(f"Exported to {filename}")

# Usage
export_users_to_csv()

Connected to database: example.db
Exported to users_export.csv